<%= form_with(model: owner, local: true) do |form| %>
  <% if owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
        <% owner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <h3>Animals</h3>
  <div id='animals'>
    <%= form.fields_for :animals do |animal| %>
      <%= render 'animal_fields', :f => animal %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Animal', form, :animals %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
